body {
    background-color: #383838;
}

.white {
    color: white;
}

.notfound {
    padding-left: 40px;
    font-size: 30px;
}

.balance-box {
    display: flex;
    column-gap: 7px;
    align-items: center;
}

.inputs-box {
    display: flex;
    align-items: flex-start;
}

.flex {
    display:flex;
}

a {
    color: #8BBAFF
}

a:hover {
    color: #3A8AFF
}

.top-note {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.tooltip-icon {
    color: white;
}

.reward-total-text {
    color: white;
    font-size: 20px;
}

.reward-total-row {
    display: flex;
}

.currency-icon {
    width: 35px;
    height: 35px;
}

.centered-image {
    margin-right: 100%;
    margin-top: 50%;
}
