.footer {
    background-color: #2d2d2d;
    color: white;
    height: 80px;
    padding: 40px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
}

.content {
    margin-bottom: 100px;
    padding-top: 120px;
    padding-left: 32px;
}

html {
    position: relative;
    min-height: 100%;
}

.input-grid {
    min-width: 500px;
}

.output-grid {
    min-width: 250px;
}

.nav-menu {
    height: 80px;
    background-color: #2d2d2d;
    z-index: 1501;
}

.navbar-brand {
    font-size: 25px;
    display: flex;
    align-items: center;
}
