.footer {
    background-color: #2d2d2d;
    color: white;
    height: 80px;
    padding: 40px;
    display: flex;
    align-items: center;

    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.content {
    margin-bottom: 100px;
    padding-top: 100px;
}

html {
    position: relative;
    min-height: 100%;
}

.nav-menu {
    height: 80px;
    background-color: #2d2d2d;
}

.navbar-brand {
    font-size: 25px;
    display: flex;
    align-items: center;
}
