@media screen and (max-width: 900px) {
    .MuiInputBase-input {
        font-size: 13px !important
    }

    .MuiInputLabel-root {
        font-size: 13px !important;
        padding-bottom: 20px !important;
    }

    .MuiFormControlLabel-label {
        font-size: 13px !important;
    }

    .MuiOutlinedInput-root {
        font-size: 13px !important;
    }

    .content {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .footer {
        font-size: 13px !important;
        position: absolute !important;
        bottom: 0 !important;
    }

    .top-note {
        font-size: 18px !important;
    }

    .navbar-brand {
        font-size: 20px !important;
    }

    .input-grid {
        min-width: 0 !important;
    }

    .output-grid {
        min-width: 0 !important;
    }
}
