body {
    background-color: #383838;
}

.white {
    color: white;
}

.notfound {
    padding-left: 40px;
    font-size: 30px;
}

.balance-box {
    display: flex;
    column-gap: 7px;
    align-items: center;
}

.inputs-box {
    display: flex;
    align-items: start;
}

.flex {
    display:flex;
}

a {
    color: #8BBAFF
}

a:hover {
    color: #3A8AFF
}

.top-note {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.tooltip-icon {
    color: white;
}

.reward-total-text {
    color: white;
    font-size: 20px;
}

.reward-total-row {
    display: flex;
}

.currency-icon {
    width: 40px;
    height: 40px;
}

.centered-image{
    margin-right: 100%;
    margin-top: 50%;
}

.content {
    margin-bottom: 100px;
    padding-top: 100px;
}

.footer {
    background-color: #2d2d2d;
    color: white;
    height: 80px;
    padding: 40px;
    display: flex;
    align-items: center;
    margin-top: 100%;
}

.nav-menu {
    height: 80px;
    background-color: #2d2d2d;
}

.navbar-brand {
    font-size: 25px;
    display: flex;
    align-items: center;
}

.adaptive-font {
    font-size: 16px;
}

@media screen and (max-width: 900px) {
    .MuiInputBase-input {
        font-size: 14px !important
    }

    .MuiInputLabel-root {
        font-size: 14px !important;
        padding-bottom: 20px !important;
    }

    .MuiFormControlLabel-label {
        font-size: 14px !important;
    }
}
